<nav id="nav" class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a  style="color: white;" class="navbar-brand" href="#"> <img style="border-radius: 80px;" width="70px" src="https://cdn.dribbble.com/users/46123/screenshots/2970007/social_shop_800x600.gif" alt="">SHOPPY</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div style="margin-left: 900px;"  class="collapse navbar-collapse" id="navbarSupportedContent">
       
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
        <ul style="margin-left: 50px;" class="navbar-nav ">
         
            <li class="nav-item dropdown">
              <a  style="color: white;" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Click Me!!
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="user/whishlist"><button class="btn "><img  width="30px"   src="https://cdn-icons-png.flaticon.com/512/825/825586.png" alt=""> </button></a></li>
                <li><a class="dropdown-item" routerLink="user/cart" href="#"> <button class="btn "><img  width="30px"   src="https://th.bing.com/th/id/R.cb2b8574f7c57c1d31868f0a5e376fc5?rik=Fcq4QSiOgERL0w&riu=http%3a%2f%2fgetdrawings.com%2ffree-icon%2fshopping-cart-icon-transparent-51.png&ehk=%2bxS8W1X0dGFrEYJCwC6cb06FZdehrx5bCGy7aA8SDXE%3d&risl=&pid=ImgRaw&r=0" alt=""> </button></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="/user/login">  <button class="btn "><img  width="30px"   src=" https://th.bing.com/th/id/OIP.Jpbu06LKkZzPd9WA4cB4CwHaHa?rs=1&pid=ImgDetMain" alt=""> </button></a></li>
              </ul>
            </li>
            
          </ul>
     
       
      
       
      </div>
    </div>
  </nav>