



<div class="row ">
    <div class="col mb-5" *ngFor="let product of products">
        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" [src]=product.image alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    {{product.title}}
                    <h5 class="fw-bolder"></h5>
                    <!-- Product price-->
                   Price: {{product.price}}
                  
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
               <button class="btn " (click)="deleteProduct(product.id)">Delete</button>
               
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="/View/{{product.id}}">View options</a></div>
            </div>
        </div>
    </div>
</div>

<div  *ngIf="products.length==0">
    <div>
        <img src="https://cdn.dribbble.com/users/950410/screenshots/2470565/media/315b65690efc436412f8f2c3eed4d09f.gif" alt="">
    </div>

</div>

