<div class="row">
<div class="col-6">
    <img width="700px" src="https://cdn.dribbble.com/users/13543/screenshots/2659587/dribbble.gif" alt="">
</div>
<div class="col-6">
     <h6 class="text-center m-5">Login Here</h6>
        <div  [formGroup]="loginForm" id="lgdiv" class="  text-center"  style="width: 400px;"> <form  action="">
            <div  id="main">
            <input formControlName="email"   class="form-control m-1" type="text" placeholder="Email"> <br>
            <div *ngIf="this.loginForm.get('email')?.errors && this.loginForm.get('email')?.touched " class="text-danger fw-bolder">Invalid email</div>
            <input formControlName="password"  class="form-control m-1" type="text" placeholder="Password"> <br>
            <div *ngIf="this.loginForm.get('password')?.errors && this.loginForm.get('password')?.touched " class="text-danger fw-bolder">Invalid password</div>
            <button (click)="login()" class="btn btn-primary text-center">Submit</button> <br> <br>
            <p>NEW HERE.. <a href="">Register Now</a></p>
        </div>
       
        </form></div>

    
    
   
</div>

</div>